<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/basic.css">
    <title>{{ name }}</title>
</head>
<body>
    <h1>
        This is another page!
    </h1>
    <div class="menu-link">
        <a href="/">Home</a>
    </div>
    <div style="text-align: right;">
        <img src="/static/bentley.jpg" width="50%" height="50%" alt="car">
    </div>
    <div class="content">
        {% for content in aboutMe %}
          <p>{{content}}<p>
        {% endfor %}
      </div>
</body>